@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

body, blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
  direction: rtl !important;
  font-family: "Vazirmatn", sans-serif !important;
}

.codeblock-dark,
.codeblock-light,
.codeblock,
.codeblock-dark *,
.codeblock-light *,
.codeblock *,
#table-of-contents{
    direction: ltr !important;
    font-family: "Vazirmatn", sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 900 !important;
}

@media (min-width: 1024px){
    .lg\:pl-\[23\.7rem\] {
        padding-right: 23.7rem !important;
        padding-left: 0 !important;
    }

    .lg\:-ml-12 {
        margin-left: 0 !important;
        margin-right: -3rem !important;
    }
  
    body :is(.lg\:pl-\[23\.7rem\]) {
        padding-left: 0 !important;
        padding-right: 23.7rem !important;
    }
      body :is(.lg\:-ml-12) {
        margin-left: 0 !important;
        margin-right: -3rem !important;
    }
}

.space-x-6>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0 !important;
    margin-left: calc(1.5rem* var(--tw-space-x-reverse)) !important;
    margin-right: calc(1.5rem* calc(1 - var(--tw-space-x-reverse))) !important;
}

.space-x-2\.5>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0 !important;
    margin-left: calc(.625rem* var(--tw-space-x-reverse)) !important;
    margin-right: calc(.625rem* calc(1 - var(--tw-space-x-reverse))) !important;
}

.space-x-4>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0 !important;
    margin-left: calc(1rem* var(--tw-space-x-reverse)) !important;
    margin-right: calc(1rem* calc(1 - var(--tw-space-x-reverse))) !important;
}

.space-x-3>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0 !important;
    margin-left: calc(.75rem* var(--tw-space-x-reverse)) !important;
    margin-right: calc(.75rem* calc(1 - var(--tw-space-x-reverse))) !important;
}

.prose :where(ul>li):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-right: 2em !important;
    padding-left: 0 !important;
}

.prose :where(ul>li):not(:where([class~=not-prose],[class~=not-prose] *)):before{
    right: .5em !important;
    left: 0 !important;
}

#footer{
  display: none;
}

.rotate-0 {
    --tw-rotate: 180deg !important;
}

.rotate-180 {
    --tw-rotate: 0 !important;
}

body :is(.ml-auto) {
    margin-right: auto !important;
    margin-left: 0 !important;
}

.right-5 {
    left: 1.25rem !important;
    right: auto !important;
}

.mr-4 {
    margin-left: 1rem !important;
    margin-right: 0 !important;
}
.-ml-10 {
    margin-right: -2.5rem !important;
    margin-left: 0 !important;
}

.ml-4 {
    margin-left: 0 !important;
    margin-right: 1rem !important;
}