@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');


body, blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
  direction: rtl;
  font-family: "Vazirmatn", sans-serif !important;
}
.codeblock-dark,
.codeblock-light,
.codeblock,
#table-of-contents{
    direction: ltr;

}
h1, h2, h3, h4, h5, h6{
  font-weight: 900 !important;
}

@media (min-width: 1024px){
    .lg\:pl-\[23\.7rem\] {
        padding-right: 23.7rem;
        padding-left: 0;
    }
}


@media (min-width: 1024px) {
    .lg\:-ml-12 {
        margin-left: 0;
        margin-right: -3rem;
    }
}

.space-x-6>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(1.5rem* var(--tw-space-x-reverse));
    margin-right: calc(1.5rem* calc(1 - var(--tw-space-x-reverse)));
}

.space-x-2\.5>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(.625rem* var(--tw-space-x-reverse));
    margin-right: calc(.625rem* calc(1 - var(--tw-space-x-reverse)));
}
.space-x-4>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(1rem* var(--tw-space-x-reverse));
    margin-right: calc(1rem* calc(1 - var(--tw-space-x-reverse)));
}

.space-x-3>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(.75rem* var(--tw-space-x-reverse));
    margin-right: calc(.75rem* calc(1 - var(--tw-space-x-reverse)));
}
.prose :where(ul>li):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-right: 2em !important;
    padding-left: 0 !important;
}
.prose :where(ul>li):not(:where([class~=not-prose],[class~=not-prose] *)):before{
    right: .5em;
    left: 0;
}

#footer{
    display: none;
}

.rotate-0 {
    --tw-rotate: 180deg;
}

.rotate-180 {
    --tw-rotate: 0;
}

.right-5 {
    left: 1.25rem;
    right: auto;
}

.mr-4 {
    margin-left: 1rem;
    margin-right: 0;
}
.-ml-10 {
    margin-right: -2.5rem;
    margin-left: 0;
}
